<mat-list-item
  [ngClass]="{
    'before-booking':
      item.reservationStartDate && !isPastDate(item.reservationStartDate)
  }"
>
  <span matListItemIcon>
    <mat-checkbox
      style="float: left"
      [(ngModel)]="item.isDone"
      (ngModelChange)="itemChange.emit(item)"
    ></mat-checkbox>
  </span>

  <span matListItemTitle>
    {{ item.name }}
  </span>

  <span matListItemLine>
    [{{ item.category }}] &nbsp;
    <ng-container *ngIf="item.url">
      <a [href]="item.url" target="_blank" rel="noopener">
        <mat-icon>link</mat-icon>
      </a>
      &nbsp; /
    </ng-container>
    {{ item.maker || "-" }}
  </span>

  <span
    matListItemLine
    *ngIf="
      (item.reservationStartDate !== undefined &&
        !isPastDate(item.reservationStartDate)) ||
      item.note !== undefined
    "
  >
    <ng-container
      *ngIf="
        item.reservationStartDate !== undefined &&
        !isPastDate(item.reservationStartDate)
      "
    >
      予約開始:
      {{ item.reservationStartDate | date : "yyyy/MM/dd" }}
    </ng-container>

    <ng-container
      *ngIf="
        item.reservationStartDate !== undefined &&
        !isPastDate(item.reservationStartDate) &&
        item.note !== undefined
      "
    >
      /
    </ng-container>

    <span *ngIf="item.note !== undefined" [matTooltip]="'補足: ' + item.note">
      {{ item.note }}
    </span>
  </span>
</mat-list-item>
