<mat-card
  [ngClass]="{
    'sales-before-reservation': item.salesStatus === SalesStatus.BEFORE_RESERVATION,
    'sales-reservation': item.salesStatus === SalesStatus.RESERVATION,
    'sales-end-of-reservation': item.salesStatus === SalesStatus.END_OF_RESERVATION,
    'sales-before-sale': item.salesStatus === SalesStatus.BEFORE_SALE,
    'sales-on-sale': item.salesStatus === SalesStatus.ON_SALE,
    'sales-end-of-sale': item.salesStatus === SalesStatus.END_OF_SALE,
    'sales-before-resale': item.salesStatus === SalesStatus.BEFORE_RESALE,
    'sales-on-resale': item.salesStatus === SalesStatus.ON_RESALE,
    'sales-end-of-resale': item.salesStatus === SalesStatus.END_OF_RESALE,
    'sales-unknown': item.salesStatus === SalesStatus.UNKNOWN,
  }"
>
  <mat-card-header>
    <!-- 商品名 / 商品グループ名) -->
    <mat-card-title> {{ item.name }}</mat-card-title>
    <!---->
    <!-- 商品情報 / 商品グループ情報 )-->
    <mat-card-subtitle class="item-summary">
      <!-- ピックアップ -->
      <ng-container *ngIf="item.pickedUpReason">
        <span class="picked-up" [matTooltip]="item.pickedUpReason">
          <mat-icon>new_releases</mat-icon>
        </span>
      </ng-container>
      <!---->

      <!-- 発売状態 (予約開始前) -->
      <ng-container *ngIf="item.salesStatus === SalesStatus.BEFORE_RESERVATION">
        <span class="sales-status before-reservation"> 予約開始前 </span>
        <span
          class="sales-date"
          matTooltip="このグッズの予約開始日"
          *ngIf="item.reservationStartDate"
          [ngClass]="{
            'coming-soon': isComingSoonDate(item.reservationStartDate)
          }"
        >
          {{ item.reservationStartDate | date : "yyyy/MM/dd" }} から
        </span>
      </ng-container>
      <!---->
      <!-- 発売状態 (予約受付中) -->
      <ng-container *ngIf="item.salesStatus === SalesStatus.RESERVATION">
        <span class="sales-status reservation"> 予約受付中 </span>
        <span
          class="sales-date"
          matTooltip="このグッズの予約締切日"
          *ngIf="item.reservationEndDate"
          [ngClass]="{
            'coming-soon': isComingSoonDate(item.reservationEndDate)
          }"
        >
          {{ item.reservationEndDate | date : "yyyy/MM/dd" }} まで
        </span>
      </ng-container>
      <!---->
      <!-- 発売状態 (予約終了) -->
      <ng-container *ngIf="item.salesStatus === SalesStatus.END_OF_RESERVATION">
        <span class="sales-status end-of-reservation"> 予約終了 </span>
      </ng-container>
      <!---->

      <!-- 発売状態 (発売前) -->
      <ng-container *ngIf="item.salesStatus === SalesStatus.BEFORE_SALE">
        <span class="sales-status before-sale"> 発売前 </span>
        <span
          class="sales-date"
          matTooltip="このグッズの発売日"
          *ngIf="item.saleDate"
          [ngClass]="{ 'coming-soon': isComingSoonDate(item.saleDate) }"
        >
          {{ item.saleDate | date : "yyyy/MM/dd" }} から
        </span>
      </ng-container>
      <!---->
      <!-- 発売状態 (販売中) -->
      <ng-container *ngIf="item.salesStatus === SalesStatus.ON_SALE">
        <span class="sales-status on-sale"> 販売中 </span>
        <span
          class="sales-date"
          matTooltip="このグッズの終売日"
          *ngIf="item.endOfSaleDate"
          [ngClass]="{ 'coming-soon': isComingSoonDate(item.endOfSaleDate) }"
        >
          {{ item.endOfSaleDate | date : "yyyy/MM/dd" }} まで
        </span>
      </ng-container>
      <!---->
      <!-- 発売状態 (終売) -->
      <ng-container *ngIf="item.salesStatus === SalesStatus.END_OF_SALE">
        <span class="sales-status end-of-sale"> 終売 </span>
      </ng-container>
      <!---->

      <!-- 発売状態 (再販前) -->
      <ng-container *ngIf="item.salesStatus === SalesStatus.BEFORE_RESALE">
        <span class="sales-status before-resale"> 再販前 </span>
        <span
          class="sales-date"
          matTooltip="このグッズの再販日"
          *ngIf="item.resaleDate"
          [ngClass]="{ 'coming-soon': isComingSoonDate(item.resaleDate) }"
        >
          {{ item.resaleDate | date : "yyyy/MM/dd" }} から
        </span>
      </ng-container>
      <!---->
      <!-- 発売状態 (再販中) -->
      <ng-container *ngIf="item.salesStatus === SalesStatus.ON_RESALE">
        <span class="sales-status on-resale"> 再販中 </span>
        <span
          class="sales-date"
          matTooltip="このグッズの再販終了日"
          *ngIf="item.endOfResaleDate"
          [ngClass]="{ 'coming-soon': isComingSoonDate(item.endOfResaleDate) }"
        >
          {{ item.endOfResaleDate | date : "yyyy/MM/dd" }} まで
        </span>
      </ng-container>
      <!---->
      <!-- 発売状態 (再販終了) -->
      <ng-container *ngIf="item.salesStatus === SalesStatus.END_OF_RESALE">
        <span class="sales-status end-of-resale"> 再販終了 </span>
      </ng-container>
      <!---->

      <!-- 発売状態 (不明) -->
      <ng-container *ngIf="item.salesStatus === SalesStatus.UNKNOWN">
        <span class="sales-status unknown"> 不明 </span>
      </ng-container>
      <!---->

      <!-- 販売方法 -->
      <ng-container *ngIf="item.salesType === SalesType.B">
        <span
          class="sales-type"
          matTooltip="この商品は数量限定・先着販売の可能性があります"
        >
          限定
        </span>
      </ng-container>
      <ng-container
        *ngIf="
          item.salesType === SalesType.A_B &&
          (item.salesStatus === SalesStatus.ON_SALE ||
            item.salesStatus === SalesStatus.BEFORE_SALE ||
            item.salesStatus === SalesStatus.END_OF_SALE ||
            item.salesStatus === SalesStatus.ON_RESALE ||
            item.salesStatus === SalesStatus.BEFORE_RESALE ||
            item.salesStatus === SalesStatus.END_OF_RESALE)
        "
      >
        <span
          class="sales-type"
          matTooltip="現在、この商品は数量限定・先着販売となっている可能性があります"
        >
          限定
        </span>
      </ng-container>
      <!---->

      <!-- メーカー -->
      <span class="maker" *ngIf="item.maker && item.maker.length > 0">
        {{ item.maker }}
      </span>
      <!---->

      &nbsp;&nbsp;&nbsp;

      <!-- 小計 -->
      <ng-container *ngIf="this.subtotalPrice.min != this.subtotalPrice.max">
        <span
          class="subtotal"
          matTooltip="ランダム商品等が含まれるため、単体購入時とBOX購入時相当の価格差を表示しています"
        >
          {{ this.subtotalPrice.min | currency : "JPY" : "symbol" }}
          〜
          {{ this.subtotalPrice.max | currency : "JPY" : "symbol" }}
        </span>
      </ng-container>
      <ng-container *ngIf="this.subtotalPrice.min == this.subtotalPrice.max">
        <span class="subtotal">
          {{ this.subtotalPrice.min | currency : "JPY" : "symbol" }}
        </span>
      </ng-container>
      <!---->

      <!-- メモ -->
      <div
        class="memo"
        *ngIf="isMemoEditing === false"
        [ngClass]="{
          'memo-empty':
            item.customMemo === undefined || item.customMemo.length === 0
        }"
      >
        <!-- メモ本文 -->
        <span class="memo-content">
          {{ item.customMemo }}
        </span>
        <!---->
        <!-- メモ編集ボタン -->
        <button
          class="memo-edit-button"
          mat-icon-button
          matTooltip="メモを編集"
          (click)="this.isMemoEditing = true"
        >
          <mat-icon>edit_note</mat-icon>
        </button>
        <!---->
      </div>
      <!---->

      <!-- メモ編集領域 -->
      <div class="memo-editor" *ngIf="isMemoEditing">
        <mat-form-field
          appearance="outline"
          class="memo-editor"
          floatLabel="always"
        >
          <mat-label>メモ</mat-label>
          <textarea
            matInput
            [(ngModel)]="item.customMemo"
            (ngModelChange)="onChangeMemo()"
            (blur)="this.onChange(); this.isMemoEditing = false"
            placeholder="購入店舗や注文番号など、ご自由にメモをご入力ください。端末内にのみ保存されます。"
          ></textarea>
        </mat-form-field>
      </div>
      <!---->
    </mat-card-subtitle>
    <!---->
  </mat-card-header>
  <mat-card-content>
    <!-- チェックリスト -->
    <div class="checklist">
      <!-- 子アイテムがある場合 -->
      <ng-container *ngIf="item.children && item.children.length >= 1">
        <ng-container *ngFor="let child of item.children">
          <div class="checklist-item">
            <mat-checkbox
              [(ngModel)]="child.isChecked"
              (ngModelChange)="onChange()"
            >
              {{ child.name }}
            </mat-checkbox>
            &nbsp;&nbsp;

            <!-- 価格 -->
            <div class="price-container">
              <ng-container *ngIf="child.customPriceWithTax">
                <span class="price">
                  {{ child.customPriceWithTax | currency : "JPY" : "symbol" }}
                </span>

                <span
                  class="quantity"
                  *ngIf="child.customQuantity && child.customQuantity !== 1"
                >
                  x {{ child.customQuantity }}
                </span>
              </ng-container>

              <ng-container *ngIf="!child.customPriceWithTax">
                <span class="price" *ngIf="child.priceWithTax">
                  {{ child.priceWithTax | currency : "JPY" : "symbol" }}
                </span>
                <span
                  class="price"
                  *ngIf="child.boxPriceWithTax"
                  matTooltip="単体購入時とBOX購入時相当の価格差を表示しています"
                >
                  〜 {{ child.boxPriceWithTax | currency : "JPY" : "symbol" }}
                </span>
              </ng-container>
              &nbsp;

              <!-- 購入価格設定ボタン -->
              <button
                mat-icon-button
                class="price-edit-button"
                matTooltip="購入価格・個数を変更"
                (click)="this.openEditDialog(child, true)"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <!---->
            </div>
            <!---->
          </div>
        </ng-container>
      </ng-container>
      <!---->

      <!-- 子アイテムがない場合 -->
      <ng-container *ngIf="!item.children || item.children.length == 0">
        <div class="checklist-item">
          <mat-checkbox
            [(ngModel)]="item.isChecked"
            (ngModelChange)="onChange()"
          >
            {{ item.name }}
          </mat-checkbox>
          &nbsp;&nbsp;

          <!-- 価格 -->
          <div class="price-container">
            <ng-container *ngIf="item.customPriceWithTax">
              <span class="price">
                {{ item.customPriceWithTax | currency : "JPY" : "symbol" }}
              </span>

              <span
                class="quantity"
                *ngIf="item.customQuantity && item.customQuantity !== 1"
              >
                x {{ item.customQuantity }}
              </span>
            </ng-container>

            <ng-container *ngIf="!item.customPriceWithTax">
              <span class="price" *ngIf="item.priceWithTax">
                {{ item.priceWithTax | currency : "JPY" : "symbol" }}
              </span>
              <span
                class="price"
                *ngIf="item.boxPriceWithTax"
                matTooltip="単体購入時とBOX購入時相当の価格差を表示しています"
              >
                〜 {{ item.boxPriceWithTax | currency : "JPY" : "symbol" }}
              </span>
            </ng-container>
            <!---->
            &nbsp;

            <!-- 購入価格設定ボタン -->
            <button
              mat-icon-button
              class="price-edit-button"
              matTooltip="購入価格・個数を変更"
              (click)="this.openEditDialog(item, false)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <!---->
          </div>
          <!---->
        </div>
      </ng-container>
      <!---->
    </div>
    <!---->
  </mat-card-content>
  <mat-card-actions
    style="
      display: flex;
      justify-content: end;
      gap: 1rem;
      width: 100%;
      padding-top: 0;
    "
  >
    <!-- リンクボタン -->
    <a
      mat-icon-button
      color="primary"
      matTooltip="参考ページを開く"
      [href]="item.url"
      [disabled]="!item.url"
      target="_blank"
      rel="noopener"
    >
      <mat-icon style="margin-bottom: 3px">link</mat-icon>
    </a>
    <!---->

    <div style="flex-grow: 1"></div>

    <!-- 一括チェックボタン -->
    <button
      mat-icon-button
      [matTooltip]="
        isAllChecked() ? '全てのチェックを外す' : '全てのチェックを入れる'
      "
      [color]="isAllChecked() ? 'accent' : ''"
      (click)="toggleAllChecks(); onChange()"
    >
      <mat-icon *ngIf="isAllChecked()">check_box</mat-icon>
      <mat-icon *ngIf="!isAllChecked()">check_box_outline_blank</mat-icon>
    </button>
    <!---->

    <!-- 支払い時期ボタン -->
    <button
      class="payment-timing-button"
      mat-icon-button
      color="primary"
      [matMenuTriggerFor]="paymentYearMonthMenu"
      [matTooltip]="
        item.selectedPaymentYearMonth
          ? '月ごとの合計金額を計算できます。このグッズの支払い時期は ' +
            item.selectedPaymentYearMonth +
            ' に設定されています。変更する場合は、ここをクリックしてください。'
          : '月ごとの合計金額を計算できます。このグッズの推測される支払い時期は' +
            item.estimatedPaymentYearMonth +
            'です。　　　ただし、保証するものではなく、支払い方法、店舗、販売の種類によっても異なる可能性があります。その場合はここをクリックして、年月を選んでください。'
      "
    >
      <mat-icon class="main">currency_yen</mat-icon>
      <mat-icon class="arrow">arrow_drop_down</mat-icon>

      <ng-container *ngIf="this.item.selectedPaymentYearMonth">
        <span class="payment-year-month selected">
          {{ this.item.selectedPaymentYearMonth }}
        </span>
      </ng-container>
      <ng-container
        *ngIf="
          !this.item.selectedPaymentYearMonth &&
          this.item.estimatedPaymentYearMonth
        "
      >
        <span class="payment-year-month estimated">
          {{ this.item.estimatedPaymentYearMonth }}
        </span>
      </ng-container>
    </button>
    <!---->

    <!-- 支払い時期メニュー -->
    <mat-menu #paymentYearMonthMenu="matMenu">
      <ng-container *ngFor="let selection of this.paymentYearMonths">
        <button
          mat-menu-item
          (click)="
            this.item.selectedPaymentYearMonth = selection.yearMonth; onChange()
          "
          [disabled]="
            (this.item.selectedPaymentYearMonth &&
              this.item.selectedPaymentYearMonth == selection.yearMonth) ||
            (!this.item.selectedPaymentYearMonth &&
              this.item.estimatedPaymentYearMonth == selection.yearMonth)
          "
        >
          {{ selection.label }}
          <ng-container *ngIf="selection.subLabel">
            <span style="font-size: 0.8rem">
              {{ selection.subLabel }}
            </span>
          </ng-container>
        </button>
      </ng-container>
    </mat-menu>
    <!---->

    <!-- アーカイブボタン -->
    <button
      mat-icon-button
      color="primary"
      matTooltip="アーカイブする"
      (click)="item.isArchived = true; onChange()"
      *ngIf="!item.isArchived"
    >
      <mat-icon>archive</mat-icon>
    </button>
    <button
      mat-icon-button
      color="primary"
      matTooltip="アーカイブを解除する"
      (click)="item.isArchived = false; onChange()"
      *ngIf="item.isArchived"
    >
      <mat-icon>unarchive</mat-icon>
    </button>
    <!---->
  </mat-card-actions>
</mat-card>
