<div class="services">
  <div class="service-item app-card bordered">
    <h4>ニュース・タチバナ</h4>
    <p>
      橘ありすについて、ゲーム、アニメ、イベント、グッズ、非公式企画など、幅広くお届けする、非公式ニュース。
    </p>
    <ul>
      <li>
        <a routerLink="/arisu-news">ストック・タチバナ</a> (ニュースまとめ)
      </li>
      <li>
        <a
          href="https://twitter.com/arisu_newsfeed"
          target="_blank"
          rel="noopener"
          >Twitter</a
        >
        (本店)
      </li>
      <li>
        <a
          href="https://imastodon.net/@arisu_newsfeed"
          target="_blank"
          rel="noopener"
          >Mastodon (アイマストドン)</a
        >
        (支店)
      </li>
    </ul>
  </div>

  <div class="service-item app-card bordered">
    <h4>ありすカレンダー</h4>
    <p>
      橘ありすさんについてのカレンダー (非公式)<br />
      <a routerLink="/arisu-calendar">arisu.cool/arisu-calendar</a>
    </p>
  </div>

  <div class="service-item app-card bordered">
    <h4>ありすグッズリスト</h4>
    <p>
      橘ありすさんについてのグッズリスト (非公式)<br />
      <a routerLink="/arisu-goods-list">arisu.cool/arisu-goods-list</a>
    </p>
  </div>

  <div class="service-item app-card bordered">
    <h4>Donjerella (開発中)</h4>
    <p>
      デレマスドンジャラの非公式ガイド。<br />
      スマホのカメラで手牌を認識。ユニットを提案します。<br />
      <a
        href="https://arisucool.github.io/donjerella"
        target="_blank"
        rel="noopener"
        >https://arisucool.github.io/donjerella</a
      >
    </p>
  </div>

  <div class="service-item app-card bordered">
    <h4>Derespose (開発中)</h4>
    <p>デレスポARのポーズを探す、非公式サービス。</p>
  </div>
</div>

<p style="color: #555555; font-size: 0.75rem; margin: 3rem 0.25rem 0 0.25rem">
  arisu.cool 🍓 では、"アイドルマスターシンデレラガールズ"
  についての非公式サービスを提供しています。<br />
  お知らせやご意見等は
  <a href="https://twitter.com/arisucool" target="_blank">@arisucool</a>
  へ。
  <br /><br />
  株式会社バンダイナムコエンターテインメント様、株式会社バンダイ様、株式会社Cygames様などとは一切関係ございません。<br />
  また、"アイドルマスター シンデレラガールズ"
  は、株式会社バンダイナムコエンターテインメント様の登録商標です。
</p>

<p
  style="
    color: #555555;
    font-size: 0.8rem;
    font-style: italic;
    margin: 2rem 0 0 0;
    text-align: center;
  "
>
  〜 to you and for me 〜
</p>
