<div class="app-page-summary">
  <h2>ありすカレンダー</h2>
</div>

<div class="app-card bordered">
  <p>
    アイドルマスターシンデレラガールズ /
    U149「橘ありす」についての非公式カレンダーです。<br />
    速報性・正確性・網羅性などは一切保証できませんので、自己責任でご利用ください。<br />
    予定の終了時刻や繰り返しは、あくまで推測です。また予告なく更新を終了する可能性があります。
  </p>
</div>

<iframe
  class="calendar-frame"
  src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&showTitle=0&src=ZTBjNTRlMWViYWJiNjI2MjE2ZWU1NDllYWEyODZhNDdkYzQ4NDA1YmYwMTMyNjUwMTRiNGJiOGJhMjhjNGNhMUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%234b7abd&color=%230B8043"
  style="border: solid 1px #777"
  width="800"
  height="600"
  frameborder="0"
  scrolling="no"
></iframe>

<div class="app-card bordered">
  <p>
    ご利用のカレンダーで購読:<br />
    <a
      href="https://calendar.google.com/calendar/embed?src=e0c54e1ebabb626216ee549eaa286a47dc48405bf013265014b4bb8ba28c4ca1%40group.calendar.google.com&ctz=Asia%2FTokyo"
      target="_blank"
      rel="noopener"
      >Google カレンダー</a
    >
    |
    <a
      href="https://calendar.google.com/calendar/ical/e0c54e1ebabb626216ee549eaa286a47dc48405bf013265014b4bb8ba28c4ca1%40group.calendar.google.com/public/basic.ics"
      target="_blank"
      rel="noopener"
      >その他のカレンダー</a
    >
    (iCal形式)
  </p>
</div>

<div class="app-bottom-navigation">
  <a routerLink="/"> <mat-icon>navigate_before</mat-icon> &nbsp; ホームへ</a>
</div>
