<div class="app-page-summary">
  <h2>ありすカレンダー</h2>
</div>

<div class="app-card bordered">
  <p>
    アイドルマスターシンデレラガールズ /
    U149「橘ありす」についての非公式カレンダーです。<br />
    速報性・正確性・網羅性などは一切保証できませんので、自己責任でご利用ください。<br />
    予定の終了時刻や繰り返しは、あくまで推測です。また予告なく更新を終了する可能性があります。
  </p>
</div>

<iframe
  class="calendar-frame"
  [src]="calendarUrl"
  *ngIf="calendarUrl"
  style="border: solid 1px #777"
  height="600"
  frameborder="0"
  scrolling="no"
></iframe>

<div class="app-card bordered">
  <p>
    ご利用のカレンダーで購読:<br />
    <a [href]="calendarRegisterUrls['gcal']" target="_blank" rel="noopener"
      >Google カレンダー</a
    >
    |
    <a [href]="calendarRegisterUrls['ical']" target="_blank" rel="noopener"
      >その他のカレンダー</a
    >
    (iCal形式)
  </p>
</div>

<div class="app-bottom-navigation">
  <a routerLink="/"> <mat-icon>navigate_before</mat-icon> &nbsp; ホームへ</a>
</div>
