<ng-container *ngIf="this.item">
  <div class="row" *ngIf="this.isVisibleTags">
    <!-- タグ -->
    <ul class="tags">
      <li class="tag" *ngFor="let tag of item.tags">
        <mat-icon> local_offer </mat-icon>
        {{ tag }}
      </li>
    </ul>
    <!---->
  </div>

  <div class="row">
    <!-- 作成・更新日時 -->
    <p
      class="createdAt"
      [matTooltip]="
        item.children && item.children.length >= 1
          ? 'この日時に情報が追加されました'
          : ''
      "
    >
      <ng-container *ngIf="this.isToday(item.createdAt)">
        {{ item.createdAt | date : "HH:mm" }}
      </ng-container>
      <ng-container *ngIf="!this.isToday(item.createdAt)">
        {{ item.createdAt | date : "yyyy/MM/dd (E) HH:mm" }}
      </ng-container>
      <ng-container *ngIf="item.children && item.children.length >= 1">
        <mat-icon> update </mat-icon>
      </ng-container>
    </p>
    <!---->

    <!-- カテゴリ -->
    <p class="category">
      <mat-icon>folder</mat-icon>
      {{ item.category }}
    </p>
    <!---->
  </div>
</ng-container>
