<div class="app-page-summary">
  <h2>ありすグッズリスト (α ver.)</h2>
</div>

<div *ngIf="items === undefined" class="app-card bordered">
  <p>読み込んでいます...しばらくお待ちください...</p>
</div>

<div
  *ngIf="items !== undefined"
  class="app-card bordered goods-list"
  style="padding-left: 0.5rem"
>
  <!-- 未完了  -->
  <mat-list #goodsList>
    <div mat-subheader>未仕分け・未注文</div>
    <ng-container *ngFor="let item of items.undone">
      <app-goods-list-item
        [item]="item"
        (itemChange)="onItemStatusChange(item)"
      ></app-goods-list-item>
    </ng-container>
  </mat-list>
  <!---->
</div>

<div
  *ngIf="items !== undefined"
  class="app-card bordered goods-list"
  style="padding-left: 0.5rem"
>
  <!-- 完了  -->
  <mat-list #goodsList>
    <div mat-subheader>注文済・見送り済</div>
    <ng-container *ngFor="let item of items.done">
      <app-goods-list-item
        [item]="item"
        (itemChange)="onItemStatusChange(item)"
      ></app-goods-list-item>
    </ng-container>
  </mat-list>
  <!---->
</div>

<div class="app-card bordered">
  <p>
    <small>
      ※ 速報性・正確性・網羅性などは保証できません。<br />
      また、予告なく、更新を休止・終了する可能性があります。自己責任でご利用下さい。<br /><br />
      ※ 変更した内容は、端末内のみに保存されます。<br />ブラウザのキャッシュ消去などで消えることもある為、おまけ程度にご活用ください。</small
    >
  </p>
</div>

<div class="app-bottom-navigation">
  <a routerLink="/"> <mat-icon>navigate_before</mat-icon> &nbsp; ホームへ</a>
</div>
