<!-- トップバナー -->
<ng-container *ngIf="this.isBirthday; else animeBanner">
  <a
    href="https://idollist.idolmaster-official.jp/detail/20104"
    target="_blank"
    rel="noopener"
    class="top-banner"
  >
    🎂 今日は橘ありすさんのお誕生日です！ 🎉
  </a>
</ng-container>
<ng-template #animeBanner>
  <a
    href="https://cinderella-u149-anime.idolmaster-official.jp/"
    target="_blank"
    rel="noopener"
    class="top-banner"
  >
    小さなシンデレラのキラメキを TVアニメ で見守ろう
  </a>
</ng-template>
<!---->

<mat-toolbar>
  <a routerLink="/">
    <img
      src="/assets/icon.png"
      style="height: 38px; margin-top: 6px"
      alt="arisu.cool"
  /></a>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <p>
    by
    <a href="https://twitter.com/arisucool" target="_blank" rel="noopener">
      arisu.cool 🍓
    </a>
  </p>
</footer>
