<a
  href="https://cinderella-u149-anime.idolmaster-official.jp/"
  target="_blank"
  rel="noopener"
  class="top-banner"
>
  小さなシンデレラ達の輝く日を TVアニメ で見届けよう
</a>

<mat-toolbar>
  <a routerLink="/">
    <img
      src="/assets/icon.png"
      style="height: 38px; margin-top: 6px"
      alt="arisu.cool"
  /></a>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <p>
    by
    <a href="https://twitter.com/arisucool" target="_blank" rel="noopener">
      arisu.cool 🍓
    </a>
  </p>
</footer>
