<div class="app-page-summary">
  <a routerLink="/arisu-news">
    <h2>ストック・タチバナ <small>α ver. </small></h2>
  </a>
</div>
<div class="app-card bordered">
  <p style="font-size: 0.8rem">
    このページは、ニュース・タチバナ (<a
      href="https://twitter.com/arisu_newsfeed"
      target="_blank"
      rel="noopener"
      >@arisu_newsfeed</a
    >) の情報を整理することで、<br />
    ニュースを俯瞰しやすくするとともに、ありすさんの活動記録を作っていく実験的な試みです。<br /><br />
    ※ タイトルや分類は、 本文を元にして
    AIで自動生成しています。一部誤りもありますが、人力で修正中です。ご了承下さい。<br />
    ※ リツイートのみの投稿など、一部掲載できていない話題も未だあります。<br /><br />
    より正確な情報や、最新ニュースは、<a
      href="https://twitter.com/arisu_newsfeed"
      target="_blank"
      rel="noopener"
      >@arisu_newsfeed</a
    >
    をご利用ください。ご意見もお待ちしております！<br />
  </p>
</div>

<div class="filter" *ngIf="this.filterCategoryOrTag">
  <p>
    "{{ this.filterCategoryOrTag }}" の記事のみ表示中

    <button
      mat-icon-button
      matTooltip="フィルタを解除"
      routerLink="/arisu-news"
      [queryParams]="{}"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </p>
</div>

<div class="news-items">
  <!-- 記事 -->
  <ng-container
    *ngFor="let item of this.newsItems | slice : 0 : numOfShowingItems"
  >
    <a
      class="news-item-container"
      [routerLink]="'articles/' + item.id"
      target="_blank"
    >
      <div
        class="news-item app-card bordered"
        [ngClass]="{
          'with-children': item.children && item.children.length >= 1
        }"
      >
        <!-- タイトル -->
        <p class="title">
          {{ item.title }}
        </p>
        <!---->

        <!-- リマインダー -->
        <ng-container *ngIf="item.reminderEndDate">
          <p
            class="reminder"
            matTooltip="{{
              item.reminderEndDate | date : 'YYYY/MM/dd'
            }} までのリマインダーがあります"
          >
            <mat-icon> notifications_active </mat-icon>
          </p>
        </ng-container>
        <!---->

        <!-- アップデートテキスト -->
        <p
          class="update-text"
          *ngIf="item.children && item.children.length >= 1"
        >
          [更新]
          {{ item.children[0].title }}
        </p>
        <!---->

        <!-- サマリー -->
        <div class="summary">
          <app-news-item-summary-line [item]="item">
          </app-news-item-summary-line>
        </div>
        <!---->
      </div>
    </a>
  </ng-container>
  <!---->

  <!-- ページネーション -->
  <ng-container
    *ngIf="
      numOfShowingItems < this.newsItems.length &&
      this.numOfShowingItems !== undefined
    "
  >
    <button mat-stroked-button (click)="this.loadMore()">さらに表示</button>
  </ng-container>
  <!---->
</div>

<div class="app-bottom-navigation">
  <a routerLink="/"> <mat-icon>navigate_before</mat-icon> &nbsp; ホームへ</a>
</div>
